My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        0
      ],
      "id": "7c1a155f-884a-405d-8259-c8d841f975cb",
      "name": "Telegram Trigger",
      "webhookId": "8ca271e4-eea3-463d-b2d5-d78713ad0062",
      "credentials": {
        "telegramApi": {
          "id": "mrllWU7GFgMFYmBw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c1231454-3b9f-43f9-8d0b-8516b32aae12"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "242c871f-5272-4232-a800-e4695fb47b32",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/weekly_summary",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -64,
        0
      ],
      "id": "c8f9915e-5e52-40f6-87ce-d72b29392732",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=✨ Welcome to your Journal Reflection Bot (Hinglish)!\nShare your daily journal anytime — I’ll respond with a dose of Motivation ✨\n\n📌 Commands\n/start — Show this message\n/weekly\\_summary — View your last 7 days summary",
        "additionalFields": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        -112
      ],
      "id": "7ec14a1a-70da-4579-b467-8877fd2b771e",
      "name": "Send a text message",
      "webhookId": "d0c6f47b-034a-4ead-9138-428946ceef62",
      "credentials": {
        "telegramApi": {
          "id": "mrllWU7GFgMFYmBw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://humorous-judah-chemotactic.ngrok-free.dev/weekly_summary",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "testkey123"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "name": "days",
              "value": "7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        0
      ],
      "id": "c6a3dcaa-253b-417a-a699-56a0391cc542",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://humorous-judah-chemotactic.ngrok-free.dev/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "testkey123"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\":\"{{ $json.message.from.id }}\",\n  \"journal_text\": \"{{ $json.message.text }}\",\n  \"max_new_tokens\": 350,\n  \"temperature\": 0.8,\n  \"mode\": \"normal\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        112
      ],
      "id": "15baa6ba-cef9-40bc-a477-28c04e5f9f8e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.text || \"\";\n\n// 1. Remove anything after '###' or 'Note:'\ntext = text.split(/\\n\\s*(###|Note:)/i)[0];\n\n// 2. Remove \"Response in Hinglish:\" prefix (case-insensitive)\ntext = text.replace(/^\\s*response in hinglish:\\s*/i, \"\");\n\n// 3. Remove multiple blank lines\ntext = text.replace(/\\n{3,}/g, \"\\n\\n\");\n\n// 4. Trim whitespace\ntext = text.trim();\n\n// 5. Optional: remove cut-off last word if incomplete\nif (!/[.!?]$/.test(text)) {\n    text = text.replace(/\\s+[^\\s]{1,10}$/, \"\");\n}\n\nreturn [\n  {\n    json: {\n      cleaned: text\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "d9927ae0-58a3-475d-b3c9-204be21e117d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "let text = $input.first().json.text || \"\";\n\n// 1. Remove anything after '###' or 'Note:'\ntext = text.split(/\\n\\s*(###|Note:)/i)[0];\n\n// 2. Remove \"Response in Hinglish:\" prefix (case-insensitive)\ntext = text.replace(/^\\s*response in hinglish:\\s*/i, \"\");\n\n// 3. Remove multiple blank lines\ntext = text.replace(/\\n{3,}/g, \"\\n\\n\");\n\n// 4. Trim whitespace\ntext = text.trim();\n\n// 5. Optional: remove cut-off last word if incomplete\nif (!/[.!?]$/.test(text)) {\n    text = text.replace(/\\s+[^\\s]{1,10}$/, \"\");\n}\n\nreturn [\n  {\n    json: {\n      cleaned: text\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        112
      ],
      "id": "b4c19187-19ce-44e8-b270-e5fc2ee3bc08",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.cleaned }} emojify this text and clean text"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "f28f3e1e-90d3-4aa2-b9b9-57567f51b64c",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "aa3kws2aaQCXBig4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.content.parts[0].text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        912,
        0
      ],
      "id": "e67e4587-bc18-4ced-ae5e-f6411081c643",
      "name": "Send a text message1",
      "webhookId": "73967247-587a-4e4d-97be-0dfa90c2bfec",
      "credentials": {
        "telegramApi": {
          "id": "mrllWU7GFgMFYmBw",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f89d1b5f-fed4-401e-88e4-665397b8b6dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d21eb41e4dfd4c9f4ee9ab6f3d1fea618d6bda52299f64d8221bd2c807dc7609"
  },
  "id": "2ZN3DWjuDYE2Z1qk",
  "tags": []
}